<template>
  <div>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <strong>{{code}}</strong> {{message}}
    </div>
    <router-link to="/">
      <app-icon img="fast-backward"></app-icon> Volver
    </router-link>
  </div>
</template>

<script>
  import Icon from 'components/Icon'
  import AppIcon from '../Icon'

  export default {
    components: {
      AppIcon,
      'app-icon': Icon
    },
    data () {
      return {
        code: 'Error 404: ',
        message: 'página no encontrada'
      }
    }
  }
</script>

<style scoped>

</style>
