<template>
  <div>
    <br>
    <ul class="list-group">
      <li class="list-group-item">No se requiere de codeudor, fiador, avalista, ni de garantías adicionales al compromiso de descuento.</li>
      <li class="list-group-item">Las tasas de interés que ofrecen los bancos para la Libranza son sustancialmente menores que los otros
        créditos de consumo.
      </li>
      <li class="list-group-item">El usuario tiene derecho a decidir con qué entidad quiere acceder al crédito.</li>
      <li class="list-group-item">La Libranza o descuento directo se efectúa, siempre y cuando el asalariado o pensionado no reciba menos de 50%
        del neto de su salario o pensión, después de los descuentos de Ley.
      </li>
      <li class="list-group-item">La principal ventaja para el acreedor es que se minimiza el riesgo del crédito dado que la operación está
        respaldada por el pago periódico hecho al beneficiario.
      </li>
      <li class="list-group-item">Se permite la continuidad de la Libranza cuando el trabajador cambia de empleo.</li>
    </ul>
    <p>En este último caso, si el contrato de trabajo finaliza, pero aún existe saldo con el banco, la empresa podrá
      retener parte de las prestaciones sociales e indemnizaciones a que tenga derecho, siempre y cuando el trabajador
      autorice por escrito a su empleador. </p>

  </div>
</template>

<script>
  export default {
    name: 'Advantage'
  }
</script>

<style scoped>

</style>
