<template>
  <div>
    <br>
    <p>
      El crédito por libranza es un mecanismo de recaudo de cartera, en donde el deudor autoriza a su empleador o
      entidad pagadora para que realice un descuento de su salario o pensión, con el objetivo de que esos recursos sean
      destinados al pago de las cuotas del crédito adquirido con la entidad financiera.

      Para que usted se olvide de las largas filas para hacer una consignación, deje de ser víctima de su memoria a
      corto plazo, sea juicioso con el pago de las cuotas mensuales con las que se comprometió y maneje correctamente su
      crédito de libranza, debe notificar a la entidad financiera su autorización de descuento de nómina y el convenio
      de recaudo debe estar debidamente suscrito con la entidad empleadora, especificando todas las obligaciones del
      convenio.
    </p>
  </div>
</template>

<script>
  export default {
    name: 'WhatIs'
  }
</script>

<style scoped>

</style>
