<template>
  <div id="app" class="container">

    <app-menu></app-menu>

    <keep-alive>
      <router-view></router-view>
    </keep-alive>

    <footer class="footer">
      <p class="text-center"><a href="#"><img class="rounded" src="../assets/logo_vision_software.jpg" alt="Vision Software" height="50" width="110"></a>&copy; 2018 </p>
    </footer>
  </div>
</template>

<script>

  import Menu from './Menu'

  export default {
    name: 'app',
    components: {
      'app-menu': Menu
    },
    data () {
      return {
        msg: 'Welcome to Your Vue.js App'
      }
    }
  }
</script>

<style lang="scss">
  @import "../sass/app";
  @import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");

  body {
    margin: 10px;
    body {
      font-family: 'Oswald', sans-serif !important;
    }

    h1,h2,h3,h4{
      font-family: 'Oswald';
    }
  }

  .container {
    max-width: 920px;

    h2 {
      margin-bottom: 20px;
    }

    footer {
      margin: 40px 0;
      padding-top: 20px;
      border-top: 1px solid #ccc;
      color: #999;
    }
  }
</style>
