<template>
  <div class="container">
    <h1>Opciones bancarias</h1>
    <div class="row">
      <app-coverflow :coverList="bankInfo.coverList" @change="changeSlide" :index="2" :coverWidth="200"
                     :coverSpace="100"></app-coverflow>
    </div>
    <div class="row">
      <div class="text-center">
        <a :href="bankSelected.url" target="_blank">
          <img :src="bankSelected.advertising" class="rounded" alt="Circular Image" width="800px">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <button class="btn btn-danger" @click="goToTerms">
          Selecionar este banco
        </button>
      </div>
    </div>
    <div class="row">
      <ul class="nav nav-tabs">
        <router-link tag="li" to="/WhatIs" active-class="active" class="active" exact><a>¿Que son?</a></router-link>
        <router-link tag="li" to="/Advantage" active-class="active"><a>Ventajas</a></router-link>
      </ul>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
  import coverflow from 'vue-coverflow'
  import { mapState } from 'vuex'

  export default {
    components: {
      'app-coverflow': coverflow
    },
    data () {
      return {
        indexSelected: 2,
        bankInfo: {
          coverList: [
            {
              cover: 'https://libstorageaccount.blob.core.windows.net/images/logo_Bcolombia.jpeg',
              title: 'B.Colombia',
              advertising: 'https://libstorageaccount.blob.core.windows.net/images/Libranzas_Bcolombia.png',
              url: 'https://www.grupobancolombia.com/wps/portal/personas/productos-servicios/creditos/consumo/libranza-empleados'
            }, {
              cover: 'https://libstorageaccount.blob.core.windows.net/images/logo_bbva.png',
              title: 'Bbva',
              advertising: 'https://libstorageaccount.blob.core.windows.net/images/Libranza_bbva.png',
              url: 'https://www.bbva.com.co/personas/prestamos/credito-libranza/libranza/'
            }, {
              cover: 'https://libstorageaccount.blob.core.windows.net/images/logo_Colpensiones.jpeg',
              title: 'Colpensiones',
              advertising: 'https://libstorageaccount.blob.core.windows.net/images/libranzas_Colpensiones.png',
              url: 'https://www.colpensiones.gov.co/Publicaciones/ayuda_al_ciudadano/atencion_al_ciudadano/entidades_operadoras_libranza_y_afiliacion'
            }, {
              cover: 'https://libstorageaccount.blob.core.windows.net/images/logo_bbogota.png',
              title: 'B.Bogotá',
              advertising: 'https://libstorageaccount.blob.core.windows.net/images/libranzas_bbogota.png',
              url: 'https://www.bancodebogota.com/wps/portal/banco-de-bogota/bogota/productos/para-ti/creditos-y-financiacion/credito-de-libranza#tab-3'
            }, {
              cover: 'https://libstorageaccount.blob.core.windows.net/images/logo_boccidente.png',
              title: 'B.Occidente',
              advertising: 'https://libstorageaccount.blob.core.windows.net/images/libranzas_occidente.png',
              url: 'https://www.bancodeoccidente.com.co/wps/portal/banco-de-occidente/bancodeoccidente/para-personas/creditos/libranza'
            }, {
              cover: 'https://libstorageaccount.blob.core.windows.net/images/logo_FNA.png',
              title: 'Fna',
              advertising: 'https://libstorageaccount.blob.core.windows.net/images/libranzas_fna.png',
              url: 'https://www.fna.gov.co/prensa/boletines-de-prensa/Paginas/Libranza-el-nuevo-servicio-del-Fondo-Nacional-del-Ahorro.aspx'
            }
          ]
        }
      }
    },
    computed: {
      ...mapState(['selectedBank']),
      bankSelected () {
        return this.bankInfo.coverList[this.indexSelected]
      }
    },
    methods: {
      changeSlide (i) {
        this.indexSelected = i
        this.selectedBank.index = i
        this.selectedBank.nameBank = this.bankInfo.coverList[this.indexSelected].title
        this.selectedBank.img = this.bankInfo.coverList[this.indexSelected].cover
      },
      goToTerms(){
        this.$router.push('/Terms')
      }
    }
  }
</script>

<style scoped>

</style>
