<template>
  <div>
    <ul class="nav navbar-nav navbar-right" v-if="!authUser">
      <router-link tag="li" to="/login" active-class="active" exact><a>
        <font-awesome-icon icon="sign-in-alt" class="icon alt" size="lg"/>
      </a></router-link>
    </ul>
    <ul class="nav navbar-nav navbar-right" v-else>
      <li active-class="active" exact>
        <a href="#" :title="authUser.displayName">
          <font-awesome-icon icon="sign-out-alt" class="icon alt" size="lg" @click="logout"/>
          {{authUser.email}} <img :src="authUser.photoURL" alt="Avatar" class="avatar">
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
  import { mapState, mapMutations } from 'vuex'
  import Icon from 'components/Icon'

  export default {
    components: {
      'app-icon': Icon
    },
    computed: {
      ...mapState(['authUser'])
    },
    methods: {
      ...mapMutations(['logOff']),
      logout () {
        this.logOff()
        this.$router.push('Login')
      }
    }
  }
</script>

<style scoped>
  .avatar {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
</style>
