<template>
  <div class="login-form">
    <div>
      <div v-if="isSingUp">
        <form @submit.prevent="registerNumDoc">
          <h2 class="text-center">Registrar Identificación</h2>
          <div class="form-group">
            <select class="custom-select form-control" v-model="typeDoc">
              <option selected>CC</option>
              <option value="1">TI</option>
              <option value="2">Pasaporte</option>
            </select>
          </div>
          <div class="form-group">
            <input type="number" class="form-control" placeholder="Documento" required="required" v-model="numDoc">
          </div>
          <div class="form-group">
            <input type="submit" value="Continuar" class="btn btn-default btn-block">
          </div>
        </form>
      </div>
      <div v-else>
        <form>
          <h2 class="text-center">Login</h2>
          <div class="text-center form-group">
            <button type="submit" class="btn btn-default" @click="signinWithGoogle">
              <font-awesome-icon :icon="['fab', 'google']" class="icon alt" size="lg" :style="{ color: '#db4437' }"/>
            </button>
            <button class="btn btn-default" @click="signinWithTwitter">
              <font-awesome-icon :icon="['fab', 'twitter']" class="icon alt" size="lg" :style="{ color: '#1da1f2' }"/>
            </button>
            <button class="btn btn-default" @click="signinWithFacebook">
              <font-awesome-icon :icon="['fab', 'facebook']" class="icon alt" size="lg" :style="{ color: '#3b5998' }"/>
            </button>
            <button class="btn btn-default">
              <font-awesome-icon :icon="['fab', 'microsoft']" class="icon alt" size="lg" :style="{ color: '#03a5f0' }"/>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>

  import { mapMutations, mapState } from 'vuex'
  import http from '../requestHttp'

  export default {
    name: 'login',
    data () {
      return {
        email: '',
        password: '',
        typeDoc: '',
        numDoc: '',
        isSingUp: false
      }
    },
    created () {
      this.firebase.auth().onAuthStateChanged(user => {
        this.setAuthUser(user)
        this.cleanProps()
      })
    },
    computed: {
      ...mapState(['authUser', 'firebase']),
    },
    methods: {
      ...mapMutations(['userRegister', 'setAuthUser', 'logOff']),
      signUp () {
        this.firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
          .then(user => {
            this.setAuthUser(user)
          })
          .catch(error => {
            alert(`🤕 ${error.message}`)
          })
      },
      signOut () {
        this.firebase.logOff()
      },
      signin () {
        this.firebase.auth().signInWithEmailAndPassword(this.email, this.password)
          .then(user => {
            this.setAuthUser(user)
          })
          .catch(error => {
            alert(`🤕 ${error.message}`)
          })
      },
      signinWithGoogle () {
        const provider = new this.firebase.auth.GoogleAuthProvider()
        this.firebase.auth().signInWithPopup(provider)
          .then(data => {
            this.getUserFromStoreDb(data.user.uid)
          })
          .catch(error => {
            alert(`🤕 ${error.message}`)
          })
      },
      signinWithTwitter () {
        const provider = new this.firebase.auth.TwitterAuthProvider()
        this.firebase.auth().signInWithPopup(provider)
          .then(data => {
            this.getUserFromStoreDb(data.user.uid)
          })
          .catch(error => {
            alert(`🤕 ${error.message}`)
          })
      },
      signinWithFacebook () {
        const provider = new this.firebase.auth.FacebookAuthProvider()
        this.firebase.auth().signInWithPopup(provider)
          .then(data => {
            this.getUserFromStoreDb(data.user.uid)
          })
          .catch(error => {
            alert(`🤕 ${error.message}`)
          })
      },
      toogleSingUp () {
        this.isSingUp = !this.isSingUp
      },
      registerNumDoc () {
        http.post('/userPortal',
          {
            email: this.authUser.email,
            typeDoc: this.typeDoc,
            numDoc: this.numDoc,
            firebaseId: this.authUser.uid
          },
          (error, res) => {
            if (error)
              console.log(error)
            else {
              this.isSingUp = false
              this.$router.push('/')
            }
          }
        )
      },
      getUserFromStoreDb (id) {
        http.get(`/userPortal/${id}`, {}, (error, user) => {
          if (user.length)
            this.$router.push('/')
          else
            this.toogleSingUp()
        })
      },
      cleanProps () {
        this.email = ''
        this.password = ''
        this.typeDoc = ''
        this.numDoc = ''
      }
    }
  }
</script>

<style scoped>
  .login-form {
    width: 340px;
    margin: 50px auto;
  }

  .login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
  }

  .login-form h2 {
    margin: 0 0 15px;
  }

  .form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
  }

  .btn {
    font-size: 15px;
    font-weight: bold;
  }
</style>
