<template>
  <div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <!--<img src="../assets/logo_vision_software.jpg" alt="">-->
          <a class="navbar-brand" href="#">
            Libranzas Colombia
            <app-icon img="usd"></app-icon>
          </a>
        </div>
        <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
        <!--<ul class="nav navbar-nav">-->
        <!--<router-link tag="li" to="/" active-class="active" exact><a>Información</a></router-link>-->
        <!--<router-link tag="li" to="/flow" active-class="active"><a>Solicitud</a></router-link>-->
        <!--</ul>-->
        <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<router-link tag="li" to="/login" active-class="active"><a>login</a></router-link>-->
        <!--</ul>-->
        <!--</div>-->
        <app-menu-items></app-menu-items>
      </div>
    </nav>
  </div>
</template>

<script>
  import Icon from 'components/Icon'
  import MenuItems from 'components/MenuItems'

  export default {
    components: {
      'app-icon': Icon,
      'app-menu-items': MenuItems
    },

  }
</script>

<style scoped>

</style>
