<template>

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <router-link tag="li" to="/" active-class="active" exact><a>Bancos <font-awesome-icon icon="piggy-bank" class="icon alt" size="lg"/></a></router-link>
      <router-link tag="li" to="/requests" active-class="active" v-if="authUser"><a>Solicitudes <app-icon img="flag"></app-icon></a></router-link>
    </ul>
    <app-loginout></app-loginout>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import LogInout from 'components/LogInOut'
  import Icon from 'components/Icon'

  export default {
    components: {
      'app-loginout': LogInout,
      'app-icon': Icon
    },
    computed:{
      ...mapState(['authUser'])
    }
  }
</script>

<style scoped>

</style>
