<template>
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col col-md-2">
            <button @click="$refs.pdf.print()" class="btn btn-default">
              <app-icon img="print"></app-icon>
            </button>
          </div>
          <div class="col col-md-8">
            <div class="input-group">
              <span class="input-group-addon">Documentos</span>
              <select v-model="src" class="custom-select form-control">
                <option v-for="item in pdfList" :value="item.document" v-text="item.title"></option>
              </select>
            </div>
          </div>
          <div class="col col-md-2">
            <div class="input-group">
              <span class="input-group-addon">{{numPages}}</span>
              <input v-model.number="page" min="1" :max="numPages" type="number" class="form-control" @change="pagination($event)">
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div v-if="loadedRatio > 0 && loadedRatio < 1" style="background-color: green; color: white; text-align: center"
             :style="{ width: loadedRatio * 100 + '%' }">{{ Math.floor(loadedRatio * 100) }}%
        </div>
        <app-pdf v-if="show" ref="pdf" style="border: 1px solid red" :src="src" :page="page" :rotate="rotate"
                 @password="password" @progress="loadedRatio = $event" @error="error" @num-pages="numPages = $event"
                 @link-clicked="page = $event"></app-pdf>
      </div>
    </div>
  </div>

</template>

<script>
  import Pdf from 'vue-pdf'
  import Icon from 'components/Icon'

  export default {
    components: {
      'app-pdf': Pdf,
      'app-icon': Icon
    },
    props:['pdfList'],
    data () {
      return {
        show: true,
        src:'',
        loadedRatio: 0,
        page: 1,
        numPages: 1,
        rotate: 0,
        read: ''
      }
    },
    methods: {
      password: function (updatePassword, reason) {

        updatePassword(prompt('password is "test"'))
      },
      error: function (err) {

        console.log(err)
      },
      pagination(e){
        if (this.page == this.numPages)
          this.$emit('readCompleted')
      }
    }
  }
</script>

<style scoped>

</style>
