<template>
  <div class="container">
    <h1>Lista de solicitudes</h1>
    <form id="search">
      <div class="input-group">
        <span class="input-group-addon">
          <app-icon img="search"></app-icon>
        </span>
        <div class="form-group">
          <input name="query" v-model="searchQuery" class="form-control">
        </div>
      </div>
    </form>
    <app-grid :data="gridData" :columns="gridColumns" :filterKey="searchQuery"></app-grid>
  </div>
</template>

<script>
  import Grid from 'components/GridView'
  import Icon from 'components/Icon'
  import http from 'requestHttp'
  import { mapState } from 'vuex'

  export default {
    name: 'Requests',
    components: {
      'app-grid': Grid,
      'app-icon': Icon
    },
    computed: {
      ...mapState(['user'])
    },
    beforeMount () {
      http.get('requestPortal/' + this.user.numDoc, {}, (error, result) => {
        if (error) {
          console.log(error.message)
          return
        }

        console.log('resultado: ', result[0].requests)

        this.gridData = result[0].requests.map((req, i) => {
          return {
            id: req._id,
            fecha: req.dateRequest,
            monto: req.RequestValue.amount,
            plazo: req.RequestValue.term,
            banco: req.SelectedBank.nameBank
          }
        })
      })
    },

    data () {
      return {
        searchQuery: '',
        gridColumns: ['id', 'fecha', 'monto', 'plazo', 'banco'],
        gridData: []
      }
    }
  }
</script>

<style scoped>

</style>
