<template>
  <div class="container">
    <h3>AUTORIZACIÓN PARA EL TRATAMIENTO DE DATOS PERSONALES SENSIBLES</h3>
    <div class="row">
    <article style="text-align: justify;text-justify: inter-word;" class="lead">Declaro de manera libre, expresa, inequívoca e informada, que AUTORIZO a Vision Software para que, en los términos del
      literal a) del artículo 6 de la Ley 1581 de 2012, realice la recolección, almacenamiento, uso, circulación,
      supresión, y en general, tratamiento de mis datos personales, incluyendo datos sensibles, como mis huellas
      digitales, fotografías, videos y demás datos que puedan llegar a ser considerados como sensibles de conformidad
      con la Ley, para que dicho Tratamiento se realice con el fin de lograr las finalidades relativas a ejecutar el
      control, seguimiento, monitoreo, vigilancia y, en general, garantizar la seguridad de sus instalaciones; así como
      para documentar las actividades gremiales.

      Declaro que se me ha informado de manera clara y comprensible que tengo derecho a conocer, actualizar y rectificar
      los datos personales proporcionados, a solicitar prueba de esta autorización, a solicitar información sobre el uso
      que se le ha dado a mis datos personales, a presentar quejas ante la Superintendencia de Industria y Comercio por
      el uso indebido de mis datos personales, a revocar esta autorización o solicitar la supresión de los datos
      personales suministrados y a acceder de forma gratuita a los mismos.

      Declaro que conozco y acepto el Manual de Tratamiento de Datos Personales de Vision Software, y que la información por mí
      proporcionada es veraz, completa, exacta, actualizada y verificable. Mediante la firma del presente documento,
      manifiesto que reconozco y acepto que cualquier consulta o reclamación relacionada con el Tratamiento de mis datos
      personales podrá ser elevada verbalmente o por escrito ante Vision Software, como Responsable del Tratamiento, cuya página
      web es: www.visionsoftware.com.co y su teléfono de atención es 7430055.</article>
    </div>
    <div class="row">
      ¿AUTORIZA EL TRATAMIENTO DE SUS DATOS PERSONALES SENSIBLES?
      <input type="checkbox" id="checkbox" :value="authTerms" @click="toggleAuth">
    </div>
    <div class="row">
      <div class="text-center">
        <button class="btn btn-danger" :disabled="!authTerms" @click="goToForm">
          Formulario de solicitud
        </button>
      </div>
    </div>
  </div>

</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'TermsConditions',
    computed: {
      ...mapState(['authTerms'])
    },
    methods: {
      toggleAuth(){
        this.$store.commit('toogleAuthTerm')
      },
      goToForm(){
        this.$router.push('/flow')
      }
    }
  }
</script>

<style scoped>

</style>
