<template>
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="text-center">
          <img style="height: 120px; width: 120px" :src="selectedBank.img" class="rounded" alt="Circular Image"
               width="800px">
        </div>
      </div>
    </div>
    <div class="row">
      <form-wizard @on-complete="onComplete"
                   title="Flujo de Solicitud"
                   subtitle="Crédito Libranza"
                   next-button-text="Siguiente"
                   finish-button-text="Guardar"
                   back-button-text="Atras"
                   color="#d9534f">
        <tab-content title="Valor solicitado" :before-change="()=>validateStep('Valor_solicitado')">
          <app-request-values ref="Valor_solicitado" @on-validate="mergePartialModels"></app-request-values>
        </tab-content>
        <tab-content title="Detalles personales" :before-change="()=>validateStep('personal_detail')">
          <app-personal-info ref="personal_detail" @on-validate="mergePartialModels"></app-personal-info>
        </tab-content>
        <tab-content title="Datos empleo" :before-change="()=>validateStep('employment')">
          <app-employment ref="employment" @on-validate="mergePartialModels"></app-employment>
        </tab-content>
        <tab-content title="Referencias" :before-change="()=>validateStep('references')">
          <app-references ref="references" @on-validate="mergePartialModels"></app-references>
        </tab-content>
        <tab-content title="Información bancaria" :before-change="()=>validateStep('accounts')">
          <app-account ref="accounts" @on-validate="mergePartialModels"></app-account>
        </tab-content>
        <tab-content title="Adjuntos">
          <app-attachments></app-attachments>
        </tab-content>
        <tab-content title="Modelo de contrato" :before-change="()=>validateStep('contracts')">
          <app-contracts ref="contracts" @on-validate="mergePartialModels"></app-contracts>
        </tab-content>
        <tab-content title="Resumen">
          <app-resume :request="finalModel"></app-resume>
        </tab-content>
      </form-wizard>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import VueFormWizard from 'vue-form-wizard'
  import Vuevalidate from 'vuelidate'
  import 'vue-form-wizard/dist/vue-form-wizard.min.css'
  import RequestValues from './forms/RequestValue'
  import PersonalInformation from 'components/forms/PersonalDetails'
  import Employment from 'components/forms/Employment'
  import References from 'components/forms/References'
  import Account from 'components/forms/Account'
  import Attachments from 'components/forms/Attachments'
  import Contracts from 'components/forms/Contract'
  import AppResume from 'components/forms/TemplateResume'
  import { mapState } from 'vuex'
  import http from '../requestHttp'

  Vue.use(VueFormWizard)
  Vue.use(Vuevalidate)

  export default {
    components: {
      'app-request-values': RequestValues,
      'app-personal-info': PersonalInformation,
      'app-employment': Employment,
      'app-references': References,
      'app-account': Account,
      'app-attachments': Attachments,
      'app-contracts': Contracts,
      'app-resume': AppResume
    },
    data () {
      return {
        finalModel: {}
      }
    },
    computed: {
      ...mapState(['selectedBank', 'user'])
    },
    methods: {
      onComplete: function () {
        this.finalModel.SelectedBank = this.selectedBank
        let applicant = {
          email: this.user.email,
          typeDoc: this.user.typeDoc,
          numDoc: this.user.numDoc,
          requests: this.finalModel
        }
        http.post('/requestPortal', applicant, (err, res) => {
          if (err) {
            console.log('error !', err.message)
            return
          }
          // let len = res.data.requests.length - 1
          // let request = res.data.requests[len]
          // console.log(request._id)

          this.$router.push('/requests')
        })
      },
      validateStep: function (name) {
        var refToValidate = this.$refs[name]
        return refToValidate.validate()
      },
      mergePartialModels (model, isValid) {
        if (isValid) {
          // merging each step model into the final model
          this.finalModel = Object.assign({}, this.finalModel, model)
          console.log('validando valores iniciales: ',this.finalModel)
        }
      }
    }
  }
</script>

<style scoped>

</style>
