<template>
  <div>

    <div class="panel panel-default">
      <div class="panel-heading">Autorización / cuenta desembolso</div>
      <div class="panel-body">

        <div class="row">
          <div class="col-md-6">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default" :class="{'active' : validateAccount}">
                <input type="checkbox" autocomplete="off" @click="checked">
                <app-icon img="ok"></app-icon>
                Autorización para consignar en cuenta
              </label>
            </div>
          </div>
          <div class="col-md-6" v-if="validateAccount">
            <div class="input-group">
              <span class="input-group-addon">Tipo de cuenta</span>
              <div class="form-group" :class="{ 'has-error': !$v.typeAccount.required}">
                <select class="custom-select form-control" v-model="typeAccount">
                  <option selected>Ahorros</option>
                  <option value="1">Corriente</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div v-if="validateAccount">
          <div class="row">
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon">Número cuenta</span>
                <div class="form-group" :class="{ 'has-error': !$v.numAccount.required}">
                  <input type="number" class="form-control" placeholder="cuenta" v-model="numAccount">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon">Entidad financiera</span>
                <div class="form-group" :class="{ 'has-error': !$v.bank.required}">
                  <input type="text" class="form-control" placeholder="Banco" v-model="bank">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
  import Icon from 'components/Icon'
  import validationModel from 'components/forms/validators/account'

  export default {
    data () {
      return {
        validateAccount: false,
        typeAccount: '',
        numAccount: '',
        bank: ''
      }
    },
    components: {
      'app-icon': Icon
    },
    validations: validationModel,
    methods: {
      validate () {
        this.$v.form.$touch()
        var isValid = !this.$v.form.$invalid
        this.$emit('on-validate', {Account: this.$data}, isValid)
        return isValid
      },
      checked () {
        this.validateAccount = !this.validateAccount
      }
    }
  }
</script>

<style scoped>
  .btn span.glyphicon {
    opacity: 0;
  }

  .btn.active span.glyphicon {
    opacity: 1;
  }
</style>
