<template>
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">Archivos adjuntos / Soportes</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div v-if="!image">
              <label class="btn btn-default btn-file">
                <app-icon img="cloud-upload"></app-icon> <input type="file" style="display: none;" @change="onFileChange" class="btn-default">
              </label>
            </div>
            <div v-else>
              <img :src="image"/>
              <button @click="removeImage" class="btn-default"><app-icon img="trash"></app-icon></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Icon from 'components/Icon.vue'

  export default {
    components:{
      'app-icon': Icon
    },
    data () {
      return {
        image: '',
      }
    },
    methods: {
      onFileChange (e) {
        var files = e.target.files || e.dataTransfer.files
        if (!files.length)
          return
        this.createImage(files[0])
      },
      createImage (file) {
        var image = new Image()
        var reader = new FileReader()
        var vm = this

        reader.onload = (e) => {
          vm.image = e.target.result
          // console.log('la imagen: ', vm.image)
        }
        reader.readAsDataURL(file)
      },
      removeImage: function (e) {
        this.image = ''
      }
    }
  }
</script>

<style scoped>
  img {
    width: 30%;
    margin: auto;
    display: block;
    margin-bottom: 10px;
  }

  button {

  }
</style>
