<template>
  <div>
    <app-pdf :pdfList="src" @readCompleted="readCompleted"></app-pdf>

    <div align="center" hidden>
      <div ref="sheet1">
        <h3 style="text-decoration: underline">CONTRATO DE CRÉDITO DE DESCUENTO POR
          LIBRANZA</h3>

        <p style="text-align: justify; text-justify: inter-word;font-family: Verdana">
          Son partes del siguiente contrato el BANCO, en adelante EL ACREEDOR, y la persona relacionada en el
          correspondiente formato de vinculación o solicitud de producto, quien a su vez suscribe el presente contrato
          en
          calidad de CLIENTE
        </p>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          El presente Contrato tiene como objetivo regular las condiciones generales bajo las cuales opera el producto
          de
          crédito de libranza celebrado entre EL ACREEDOR, como ENTIDAD OPERADORA, y EL CLIENTE como titular y DEUDOR de
          la misma,
          quien en virtud de la correspondiente solicitud de crédito y la autorización de descuento, se obliga al
          cumplimiento de las condiciones aquí pactadas, sin perjuicio de la aplicación de las normas determinadas en el
          Código de Comercio,
          el Estatuto Orgánico del Sistema Financiero y demás normas aplicables sobre la materia.
        </p>
        <p>
          Los términos y condiciones particulares del crédito serán las informadas y aceptadas por el CLIENTE en el
          documento denominado 'Términos y Condiciones Crédito de Libranza'.
        </p>
        <h4>1. Definiciones:</h4>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          Las siguientes definiciones se observarán para los efectos de aplicación del presente Contrato:
        </p>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          a) Empleador o entidad pagadora: Es la persona natural o jurídica, de naturaleza pública o privada,
          que tiene a su cargo la obligación del pago del salario, cualquiera que sea la denominación de la
          remuneración,
          en razón de la ejecución de un trabajo o porque tiene a su cargo el pago de pensiones en calidad de
          administrador de fondos de cesantías y pensiones.
        </p>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          b) Cliente. Es la persona empleada o pensionada, titular del crédito de libranza que se obliga a atender las
          obligaciones adquiridas en virtud de la misma, a través de la modalidad de libranza o descuento directo.
        </p>
        <h4>2. Condiciones del Desembolso:</h4>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          2.1 El desembolso se realizará una vez sea verificado el cumplimiento de los requisitos de aprobación de la
          solicitud de crédito presentada por EL CLIENTE, quien de acuerdo a las condiciones determinadas con la ENTIDAD
          PAGADORA, decidirá en mutuo acuerdo
          con EL ACREEDOR la fecha y la forma en que se realizará la entrega de los dineros solicitados, pudiendo estos
          efectuarse por cualquiera de los siguientes medios:
        </p>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
        <ol type="a">
          <li>
            Transferencia a cuenta corriente o cuenta de ahorros del Banco o de otras entidades financieras según la
            elección del CLIENTE. La transferencia se realizará en la medida que los medios determinados por EL ACREEDOR
            y
            la entidad financiera receptora lo permitan,
            de lo contrario el pago se hará por medio de la expedición de un cheque de gerencia.
          </li>
          <li>
            Entrega de Cheque de Gerencia a nombre del cliente, o a nombre de cualquier Entidad Financiera autorizada
            para
            realizar operaciones en la República de Colombia, Cooperativas, Fondos de empleados y en general entidades
            de
            carácter público o privado designadas por el cliente
            y autorizadas por EL ACREEDOR.
          </li>
          <li>
            Abono total o parcial de deuda a obligaciones vigentes celebradas con anterioridad entre EL CLIENTE y EL
            ACREEDOR.
          </li>
        </ol>

        <br>
        <br>
        <br>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          2.2 El desembolso del monto de la obligación se encontrará sujeto a las políticas de crédito vigentes del
          ACREEDOR, así como a su disponibilidad de fondos, y el mantenimiento de las circunstancias que hayan sido
          determinantes para el otorgamiento del crédito.
        </p>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          2.3 El CLIENTE no podrá desistir del crédito una vez se haya realizado el desembolso, la no utilización del
          monto de desembolso no lo exime de su obligación de pagar las cuotas y los montos pactados con EL ACREEDOR.
        </p>
      </div>
      <div ref="sheet2">
        <h4>3. Condiciones de pago:</h4>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          3.1 Los instalamentos o cuotas de la obligación serán mensuales, la ENTIDAD PAGADORA determinará la fecha en
          que
          se efectuará por parte de ésta el pago de las cuotas establecidas,
          la cual podrá ser distinta a la fecha en que se realice el descuento del salario o mesada pensional del
          CLIENTE.
        </p>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          3.2 Con ocasión a las características propias del producto de libranza, es posible que el descuento realizado
          sobre el salario o mesada del CLIENTE correspondiente a la primera cuota del crédito, ocurra con posterioridad
          a
          la fecha pactada para el pago de la misma,
          evento en el cual se entenderá que opera un periodo de gracia en el cual no serán exigibles las cuotas del
          crédito, pero si se causarán los intereses y las primas de seguro que se generen durante el mencionado
          periodo;
          en dicho caso EL ACREEDOR aumentará el plazo en el
          número de cuotas mensuales que hagan falta para la cancelación total de la obligación.
        </p>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          3.3 LA ENTIDAD PAGADORA que tenga a su cargo el pago del salario o de la mesada pensional del CLIENTE
          realizará
          los descuentos por concepto del pago de las cuotas mensuales del crédito de libranza otorgado por EL ACREEDOR
          al
          CLIENTE, según el formato de autorización de
          descuento por libranza otorgado por EL CLIENTE para tal efecto.
        </p>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          3.4 Salvo lo determinado en el numeral 3.2 del presente contrato, se entenderá que en el evento en que LA
          ENTIDAD PAGADORA no realice los pagos a favor del ACREEDOR, o EL CLIENTE solicite vacaciones, licencias, o se
          retire de la empresa o en general ocurra cualquier evento
          no atribuible al ACREEDOR que ocasione que este no reciba los recursos correspondiente al pago de la cuota
          mensual exigible, EL CLIENTE está obligado a realizar el pago oportuno de la misma a través de las oficinas
          del
          ACREEDOR o cualquiera de los puntos de su red autorizada
          de recaudos. La omisión de dicha actuación causará a cargo del CLIENTE intereses de mora sobre el saldo
          vencido a la tasa máxima legal certificada por la Superintendencia Financiera de Colombia y ocasionará la
          aplicación de las disposiciones determinadas en el numeral 6° del presente Contrato.
        </p>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          3.5 EL CLIENTE podrá efectuar abonos parciales y/o totales en cualquier momento, sin ningún tipo de sanción o
          penalización. En ese sentido los
          abonos extraordinarios parciales realizados por EL CLIENTE se aplicarán a capital, reduciendo el plazo del
          crédito, siempre y cuando la obligación se encuentre al día y no se haya causado la siguiente cuota, pues en
          ese
          evento se cubrirá el monto de la cuota causada y el valor restante, si hay lugar a ello,
          se aplicará a capital.
        </p>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          3.6 En caso de que LA ENTIDAD PAGADORA realice descuentos mayores a los pactados, o realice descuentos con
          posterioridad a la cancelación de la obligación se realizará el siguiente procedimiento:
        <ol>
          <li>
            En caso de que EL CLIENTE tenga saldos pendientes de pagos por otras obligaciones celebradas con EL
            ACREEDOR,
            se abonaran dichos montos al saldo de dichas obligaciones
          </li>
          <li>
            En caso contrario, EL ACREEDOR devolverá el dinero al CLIENTE mediante los mecanismos dispuestos en el
            numeral
            2.1 del presente Contrato, sin que haya lugar al reconocimiento de algún tipo de remuneración.
          </li>
        </ol>
        </p>


        <h4>4. Condiciones en caso de desvinculación del CLIENTE de la ENTIDAD PAGADORA:</h4>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          4.1 Cuando EL CLIENTE se desvincule de la ENTIDAD PAGADORA o cese la relación laboral con EL EMPLEADOR por
          cualquier motivo, dicha Entidad o Empleador descontará del valor final de la liquidación los valores adeudados
          en el saldo total que tenga EL CLIENTE frente al ACREEDOR por concepto del crédito de libranza,
          se entenderá que dicho descuento podrá realizarse sobre vacaciones, salarios, indemnizaciones, primas y en
          general cualquier tipo de prestación laboral que adeude la ENTIDAD PAGADORA a favor del CLIENTE, tomando para
          ello el 100% del valor total de la liquidación
        </p>
      </div>
      <div ref="sheet3">
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          4.2 En caso que el pago de dicha liquidación no sea suficiente para cubrir el saldo de la obligación, el
          crédito
          de libranza pasará a ser un crédito ordinario de consumo, en el cual EL CLIENTE continuará obligado al pago de
          los saldos exigibles mediante los mecanismos ordinarios de recaudo dispuestos por EL ACREEDOR,
          así mismo EL ACREEDOR podrá facultativamente aplicar a la obligación la tasa más alta establecida para este
          tipo de crédito.
        </p>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          4.3 EL CLIENTE podrá darle continuidad a la libranza notificándole al ACREEDOR el cambio de ENTIDAD PAGADORA o
          EMPLEADOR manteniendo de esa forma la tasa de libranza originalmente otorgada, no obstante EL CLIENTE deberá
          pagar autónomamente las cuotas que se causen durante la implementación del mecanismo de descuento
          a la tasa máxima establecida para créditos de consumo.
        </p>
        <h4>5. Condiciones sobre Seguros</h4>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          5.1 EL CLIENTE se obliga a pagar junto con el valor de la cuota del crédito, el valor de las primas
          correspondientes al Seguro de Vida Deudores que contratará por medio del ACREEDOR para asegurar la totalidad
          de
          la obligación contratada con este, por lo que EL CLIENTE autoriza su inclusión dentro de las pólizas
          colectivas
          que EL ACREEDOR haya contratado para tal efecto. EL CLIENTE se compromete a pagar el valor que por los
          anteriores conceptos certifique el intermediario y/o compañía de seguros respectiva, aceptando para el efecto
          como suficiente prueba de tales obligaciones dichos certificados.
        </p>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          5.2 En caso de que la libranza se solicite para la financiación de un vehículo automotor, EL CLIENTE deberá
          pagar al ACREEDOR junto con el valor de la cuota del crédito y el valor del Seguro de Vida, el valor
          correspondiente al costo de la prima del Seguro Todo Riesgo que se contrate a través del ACREEDOR para
          asegurar
          el
          bien otorgado en garantía, asegurando la totalidad del saldo de la obligación.
        </p>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          5.3 EL CLIENTE podrá endosar las anteriores pólizas, siempre y cuando las constituya frente a una compañía de
          seguros debidamente autorizada para operar por la Superintendencia Financiera de Colombia, la cual ampare los
          saldos de las obligaciones contratadas con EL ACREEDOR, siendo este el principal beneficiario de la misma.
        </p>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          5.4 EL ACREEDOR cuenta con la facultad discrecional de tomar las pólizas de seguros de vida y de vehículo
          anteriormente descritas durante la vigencia de la obligación, u ordenar su contratación cuando EL CLIENTE no
          le
          presente la póliza y su respectivo recibo de pago antes del desembolso del crédito o con antelación de un
          (1) mes a la fecha de vencimiento cuando se trate de su renovación.
        </p>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          5.5 EL ACREEDOR podrá, previa aceptación del CLIENTE, incluir junto con cada instalamento, la suma periódica
          por
          concepto de las primas de cualquier otro seguro adicional a los anteriores, entendiéndose que el valor de la
          financiación será cargado a la obligación principal haciéndose exigible junto con la misma.
        </p>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          5.6 EL CLIENTE pagará las sumas que por los conceptos mencionados en el presente numeral acredite de igual
          forma
          haber cancelado EL ACREEDOR y hasta la cancelación total de las obligaciones del CLIENTE, en el evento de
          haberse hecho exigibles las mismas por el incumplimiento o mora de parte del CLIENTE. Así mismo,
          la mora en el pago de las primas generará los efectos establecidos en el artículo 1068 del Código de Comercio
          respecto a la terminación automática del seguro.
        </p>
        <br>
        <br>
        <br>
        <h4>6. Condiciones en caso de incumplimiento</h4>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          6.1 En caso de mora de cualquiera de las obligaciones a cargo del CLIENTE o del incumplimiento de cualquiera
          de
          ellas, se causarán a la obligación los intereses moratorios a la tasa máxima legal permitida, sin perjuicio de
          las acciones legales que el tenedor del título valor que instrumente la obligación pueda
          presentar para exigir el pago de la misma y obtener el pago de la indemnización total de los perjuicios que
          con
          su incumplimiento, acción u omisión se le hubiera generado al tenedor.
        </p>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          6.2 EL ACREEDOR podrá acogerse a los términos del artículo 886 del Código de Comercio para el cobro de
          intereses.
        </p>
      </div>
      <div ref="sheet4">
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          6.3 Serán a cargo del CLIENTE los impuestos que se ocasionen con motivo del otorgamiento del producto
          financiero, los costos y demás gastos que la cobranza implique, incluidos los honorarios de abogado que para
          el
          efecto se pactan en un 20% del saldo pendiente de pago, y en todo caso no menor al mínimo fijado
          por EL ACREEDOR para la iniciación del cobro judicial en las tablas que tengan vigentes para el efecto con sus
          abogados, así como el valor que el ACREEDOR inicialmente pague por concepto de arancel judicial o su
          equivalente
          de acuerdo con ley.
        </p>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          6.4 EL ACREEDOR podrá debitar de cualquier saldo a favor que adeude al CLIENTE o de cualquier producto del
          pasivo que tenga contratado con este, incluyendo, pero sin limitarse a: Depósito a término, cuenta corriente,
          cuenta de ahorro, el valor de las obligaciones mutuas exigibles que este tenga con EL ACREEDOR.
        </p>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          6.5 La duración del presente contrato será la vigencia del crédito, no obstante EL ACREEDOR queda facultado
          para
          dar por terminado el plazo
          pactado y/o exigir el pago inmediato judicial o extrajudicialmente del valor de la(s) obligación(es)
          pendiente(s) del CLIENTE, sus intereses, seguros, gastos de cobranza, honorarios, gastos de recaudo, o
          cualquier
          otro gasto en contraprestación de servicios adicionales que le hubieran prestado y demás obligaciones
          accesorias,
          en los siguientes casos, sin perjuicio de otras causales estipuladas para el efecto en otros documentos
          suscritos por EL CLIENTE, sin necesidad de requerimiento privado o judicial, o constitución en mora, sin
          consideración al vencimiento y plazos pactados, a los cuales EL CLIENTE renuncia de manera expresa en razón a
          su
          claro
          conocimiento de los términos convenidos de su(s) obligación(es) para con EL ACREEDOR o quien haga sus veces:
        <ol type="a">
          <li>
            Si se presentare el incumplimiento de cualquier obligación que directa o indirectamente tenga EL CLIENTE, o
            mora de una o más de las cuotas convenidas para el pago de su(s) obligación(es), o de cualquiera otra
            obligación que directa o indirectamente exista a cargo del deudor, sus avalistas, codeudores, fiadores o
            garantes
            para con EL ACREEDOR o quien haga sus veces.
          </li>
          <li>
            Si EL CLIENTE fuere demandado ante cualquier autoridad y por cualquier persona, o si se encontrare en
            notorio
            estado de insolvencia o liquidación a juicio de EL ACREEDOR y se negare a prestar caución o mejorar la
            garantía de sus obligaciones;
          </li>
          <li>
            Si EL CLIENTE gira o entrega cheques a favor del ACREEDOR sin provisión de fondos, o si el(los) cheque(s) no
            es(son) pagado(s) por cualquier causa imputable al librador, caso(s) en el(los) cual(es) EL CLIENTE
            reconocerá
            y acatará la sanción prevista en el Art. 731 del Código de Comercio aún cuando el(los) cheque(s) girado(s)
            provenga(n) de terceros, y
          </li>
          <li>
            Si se cometieren inexactitudes o adulteraciones en los balances, informes, declaraciones o documentos que EL
            CLIENTE hubiera presentado al ACREEDOR o no le entregare la documentación adicional que en cualquier tiempo
            les solicitara EL ACREEDOR la cual está obligado a entregar.
          </li>
          <li>
            Por la muerte del CLIENTE.
          </li>
          <li>
            La no actualización por parte del CLIENTE, por lo menos anualmente, de la información suministrada para el
            análisis del crédito, cuando exista alguna variación, o cuando el ACREEDOR así lo requiera.
          </li>
          <li>
            La inclusión del CLIENTE en la Lista Clinton o Lista SDNT, que es publicada y actualizada por el
            Departamento
            del Tesoro de los Estados Unidos de América, Oficina de Control de Activos Extranjeros (U.S. Department of
            Treasury, Office of Foreign Asset Control) o en cualquier otra que cumpla con los mismos fines. Así mismo,
            en
            caso de que una de las operaciones del CLIENTE,
            sea reportada por cualquier entidad a la Unidad de Información y Análisis Financiero adscrita al Ministerio
            de
            Hacienda y Crédito Público (UIAF) como sospechosa, o cuando se profiera una sentencia o cualquier decisión
            en
            contra del CLIENTE por parte de autoridad competente, por la comisión de delitos contra el patrimonio
            económico, enriquecimiento ilícito, extinción de dominio y los establecidos en el Cap. II y V del Título X y
            Cap. II del Título XIII del Libro Segundo del C.P.
          </li>
          <li>
            Si se evidencia falsedad en los documentos suministrados para el análisis de riesgo crediticio efectuado con
            ocasión a la operación de crédito de libranza que aquí se instrumenta, o respecto a las declaraciones
            efectuadas por EL CLIENTE mediante el numeral séptimo (Declaraciones) del presente documento.
          </li>
        </ol>
        </p>
      </div>
      <div ref="sheet5">
        <h4>7. Declaraciones</h4>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          EL CLIENTE, mediante la suscripción del presente documento, declara bajo la gravedad del juramento que no ha
          solicitado ni tramitado ningún producto de financiación con alguna otra entidad durante la solicitud, estudio,
          análisis, celebración y desembolso de la operación de libranza que se instrumenta mediante el presente
          contrato,
          como tampoco descuento alguno sobre su salario, remuneración o mesada pensional. Así mismo, manifiesta que
          entiende que cualquier falta de veracidad,
          total o parcial, en la declaración aquí contenida, o en los documentos suministrados para su análisis de
          riesgo
          crediticio, generará un incumplimiento contractual, que facultará a EL ACREEDOR para proceder de conformidad
          con
          lo indicado en el numeral sexto (Condiciones en caso de incumplimiento) del presente acuerdo, así como para
          interponer la denuncia penal respectiva por la vulneración del tipo penal de falsedad en documento privado
          (Artículo 289, Ley 599 de 2000), ó el que corresponda.
        </p>
        <h4>8. Otras condiciones y autorizaciones</h4>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          8.1 En el evento en que al CLIENTE le fuera otorgada alguna prórroga de su(s) obligación(es), EL ACREEDOR
          queda
          facultado para prorrogar el plazo de vencimiento de las obligaciones sin necesidad de que EL CLIENTE firme la
          nota respectiva, y sin que ello implique una extinción de las garantías en ningún caso. EL CLIENTE hace
          constar
          que la responsabilidad de los avalistas se extenderá en caso de prórrogas, renovaciones y novaciones o de
          cualquier modificación a lo aquí estipulado.
          La prórroga del plazo para el pago de las obligaciones de que trata el presente documento, el recibo de abonos
          parciales o el pago mediante cheques, no implica novación ni dación en pago.
        </p>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          8.2 EL CLIENTE autoriza al ACREEDOR para registrar los abonos parciales en el sistema que emplee EL ACREEDOR.
          Así como el aumento del plazo de acuerdo a lo previsto en el numeral 3.2. del presente documento.
        </p>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          8.3 Los abonos realizados por EL CLIENTE serán imputados a los siguientes conceptos en el siguiente orden: a
          gastos y costas, comisiones, primas de seguros, intereses de mora, intereses corrientes, y finalmente a
          capital,
          sin perjuicio de que EL ACREEDOR pueda imputar dichos abonos en forma preferente a otras obligaciones
          contraídas
          por EL CLIENTE en forma directa o como garantes a cualquier título.
        </p>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          8.4 EL ACREEDOR pondrá a disposición del CLIENTE los estados de cuenta del crédito de libranza a través de los
          canales determinados para tales efectos. No obstante EL CLIENTE podrá en cualquier momento solicitar el estado
          de cuenta de su producto a través de los canales de contacto de servicio al cliente dispuestos por EL
          ACREEDOR,
          asumiendo los costos que ello conlleve.
        </p>

        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          8.5 EL CLIENTE autoriza irrevocablemente y en todo tiempo al ACREEDOR o a quien represente sus derechos u
          ostente en el futuro la calidad de acreedor, para consultar ante cualquier operador de base de datos o central
          de riesgo, toda la información sobre su comportamiento creditito y comercial, hábitos de pago y cumplimiento
          de
          sus obligaciones. Así mismo para que informe y reporte a dichas entidades el comportamiento de pago,
          cumplimiento o incumplimiento de sus obligaciones crediticias,
          o de sus deberes legales de contenido patrimonial, respecto a todas las operaciones que bajo cualquier
          modalidad
          haya celebrado o llegue a celebrar en el futuro con EL ACREEDOR, o respecto de obligaciones a mi cargo cuyo
          acreedor sea EL ACREEDOR, de tal forma que aquellas entidades presenten una información veraz, pertinente,
          completa actualizada y exacta de su desempeño como deudor, codeudor o avalista.
        </p>
      </div>
      <div ref="sheet6">
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          8.6 EL CLIENTE autoriza irrevocablemente que los datos de carácter personal de su titularidad que se obtengan
          en
          virtud de la relación comercial que mantenga o que haya mantenido con EL ACREEDOR, sean tratados en una o
          varias
          bases de datos administrada por EL ACREEDOR, quien será responsable de su administración junto con los
          encargados que éste designe, e implementará las medidas de seguridad necesarias para la conservación y
          protección de los mismos. Así mismo, EL CLIENTE declara que
          se le ha informado que sus datos personales han sido y serán recopilados para fines operativos, comerciales y
          de
          mercadeo, de prevención de riesgo y estadísticos, por EL ACREEDOR y/o por cualquiera de sus aliados
          comerciales,
          y en general para permitir el cumplimiento de las obligaciones que EL ACREEDOR haya adquirido en virtud de la
          presente relación contractual o que le sean exigibles por disposiciones legales o reglamentarias. De igual
          forma
          EL CLIENTE autoriza que, para las finalidades descritas,
          EL ACREEDOR pueda suministrar su información a los siguientes tipos de personas: a) Operadores de bases de
          datos, crediticio, financiero, comercial o de servicios o a otras entidades financieras nacionales o
          extranjeras
          b)Terceros que en calidad de proveedores nacionales o extranjeros, en el país o en el exterior, presten
          servicios tecnológicos, logísticos, operativos, de seguridad o de apoyo, y en general que en ejercicio de su
          servicio deban tener acceso a la información por EL CLIENTE suministrada,
          c)Las personas naturales o jurídicas accionistas del ACREEDOR y a las sociedades controlantes, controladas,
          vinculadas, afiliadas o pertenecientes al mismo grupo empresarial, d) Las autoridades nacionales o extranjeras
          que en ejercicio de sus competencias y con autorización legal lo soliciten, o ante las cuales se encuentre
          procedente formular, denuncia, demanda, convocatoria a arbitramento, queja o reclamación, e) toda persona
          natural que EL CLIENTE expresamente autorice. Adicionalmente EL CLIENTE autoriza
          todo tipo de tratamiento que sea necesario para cumplir las finalidades anteriormente mencionadas y declara
          que
          ha sido informado de la posibilidad que tiene como titular de la información de conocer en cualquier momento
          los
          datos de su titularidad con los que cuenta EL ACREEDOR, con el fin de actualizarlos, corregirlos o
          rectificarlos, así como de la posibilidad que tiene de solicitar su eliminación o revocación, en los casos
          previstos en la ley. Adicionalmente EL CLIENTE declara que ha sido informado de las políticas
          y procedimientos que tiene EL ACREEDOR para el manejo de su información.
        </p>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          8.7 El deudor acepta y autoriza al Banco, mediante la suscripción de la presente comunicación el cobro del
          estudio de crédito (si así se requiere).
        </p>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          8.8 EL CLIENTE declara que conoce y acepta las tarifas de los servicios financieros prestados por EL BANCO, y
          reconoce que dichas tarifas están sujetas a modificaciones que le serán informadas por el medio que EL BANCO
          tenga establecido. Así mismo, manifiesta que ha sido informado de la posibilidad con la que cuenta de
          consultar
          permanentemente las tarifas a través de la página de internet
          del ACREEDOR.
        </p>
        <br>
        <br>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          EL ACREEDOR se reserva el derecho unilateral de modificar, limitar, ampliar, reducir y eliminar las
          condiciones
          y términos del presente Contrato, dichas variaciones serán debidamente notificadas al CLIENTE, con una
          antelación mínima de treinta (30) días calendario por el medio de notificación más adecuado, incluyéndose pero
          sin limitarse a: Avisos a través de los estados de cuenta, mensajes de texto (SMS), correos físicos o
          electrónicos, avisos en la página web y en las oficinas del ACREEDOR.
        </p>
        <br>
        <br>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          En constancia de lo anterior, se firma en la ciudad de Bogotá a los {{day}} días del mes de {{month}} del año
          {{year}}.
        </p>

        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          Acepto (aceptamos) en calidad de CLIENTE:
        </p>
        <br>
        <br>
        <br>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          Firma: __________________________________________________________
        </p>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          Nombre Titular: __________________________________________________
        </p>
        <p style="text-align: justify;text-justify: inter-word;font-family: Verdana">
          Cedula de Ciudadanía: _____________________________________________
        </p>
      </div>
    </div>
  </div>

</template>

<script>
  import Pdf from 'components/Pdf'
  import jsPDF from 'jspdf'

  export default {
    components: {
      'app-pdf': Pdf
    },
    mounted () {
      this.createPdf()
    },
    data () {
      return {
        src: [],
        now: new Date(),
        acceptTerms: false
      }
    },
    computed: {
      day () {
        return this.now.getDate()
      },
      month () {
        return this.now.getMonth() + 1
      },
      year () {
        return this.now.getFullYear()
      }
    },
    methods: {
      createPdf () {
        let templateContract = [this.$refs.sheet1, this.$refs.sheet2, this.$refs.sheet3, this.$refs.sheet4, this.$refs.sheet5, this.$refs.sheet6]
        let docContract = new jsPDF('p', 'pt', 'letter')

        templateContract.forEach((page, index) => {
          if (index)
            docContract.addPage()

          docContract.fromHTML(
            page,
            40,
            40,
            {
              'width': 522, // max width of content on PDF
            }
          )
        })

        this.src.push({
          'title': 'Contrato libranza',
          'document': docContract.output('datauristring')
        })
      },
      readCompleted(){
        this.acceptTerms = true
      },
      validate () {
        var isValid = this.acceptTerms
        this.$emit('on-validate', {'contracts': {acceptTerms : true}}, isValid)
        return isValid
      }
    }
  }
</script>

<style scoped>
</style>
