<template>
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">Empresa</div>
      <div class="panel-body">

        <div class="row">
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Razón social</span>
              <div class="form-group" :class="{ 'has-error': !$v.businessSocial.required}">
                <input type="text" class="form-control" v-model="businessSocial">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">NIT</span>
              <div class="form-group" :class="{ 'has-error': !$v.nit.required}">
                <input type="text" class="form-control" v-model="nit">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Dirección</span>
              <div class="form-group" :class="{ 'has-error': !$v.addressCompany.required}">
                <input type="text" class="form-control" v-model="addressCompany">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Teléfono</span>
              <div class="form-group" :class="{ 'has-error': !$v.phoneCompany.required}">
                <input type="number" class="form-control" v-model="phoneCompany">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Fax</span>
              <input type="number" class="form-control" v-model="fax">
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Jefe inmediato</span>
              <div class="form-group" :class="{ 'has-error': !$v.boss.required}">
                <input type="text" class="form-control" v-model="boss">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Empleo</div>
      <div class="panel-body">

        <div class="row">
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Fecha ingreso</span>
              <div class="form-group" :class="{ 'has-error': !$v.dateInit.required}">
                <input type="date" class="form-control" v-model="dateInit">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Cargo actual</span>
              <div class="form-group" :class="{ 'has-error': !$v.position.required}">
                <input type="text" class="form-control" v-model="position">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Salario Basico</span>
              <div class="form-group" :class="{ 'has-error': !$v.salary.required}">
                <input type="number" class="form-control" placeholder="$" v-model="salary">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Otros ingresos</span>
              <input type="number" class="form-control" placeholder="$" v-model="otherIncomes">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Gastos familiares</span>
              <div class="form-group" :class="{ 'has-error': !$v.familiarExpenses.required}">
                <input type="number" class="form-control" placeholder="$" v-model="familiarExpenses">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Total egresos</span>
              <input type="number" class="form-control" placeholder="$" v-model="total">
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</template>

<script>
  import validationModel from 'components/forms/validators/employment'

  export default {
    data () {
      return {
        businessSocial: '',
        nit: '',
        addressCompany: '',
        phoneCompany: '',
        fax: '',
        boss: '',
        dateInit: '',
        position: '',
        salary: '',
        otherIncomes: '',
        familiarExpenses: '',
        totalIncomes: ''
      }
    },
    validations: validationModel,
    methods: {
      validate () {
        this.$v.form.$touch()
        var isValid = !this.$v.form.$invalid
        this.$emit('on-validate', {Employment: this.$data}, isValid)
        return isValid
      }
    },
    computed: {
      total: function () {
        return +this.salary + (+this.otherIncomes)
      }
    }
  }
</script>

<style scoped>

</style>
