<template>
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">Solicitante</div>
      <div class="panel-body">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group" :class="{ 'has-error': !$v.name.required}">
              <input type="text" class="form-control" placeholder="Nombres" v-model="name">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group" :class="{ 'has-error': !$v.lastName.required}">
              <input type="text" class="form-control" placeholder="Primer apellido" v-model="lastName">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Segundo apellido" v-model="secondLastName">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Genero</span>
              <div class="form-group" :class="{ 'has-error': !$v.genre.required}">
                <select class="custom-select form-control" v-model="genre">
                  <option selected>M</option>
                  <option value="1">F</option>
                  <option value="2">Otro</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Estado civil</span>
              <div class="form-group" :class="{ 'has-error': !$v.civilStatus.required}">
                <select class="custom-select form-control" v-model="civilStatus">
                  <option selected>Soltero(a)</option>
                  <option value="1">Casado(a)</option>
                  <option value="1">Separado(a)</option>
                  <option value="1">Unión libre</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Fecha nacimiento</span>
              <div class="form-group" :class="{ 'has-error': !$v.dateBirth.required}">
                <input type="date" class="form-control" v-model="dateBirth">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Lugar nacimiento</span>
              <div class="form-group" :class="{ 'has-error': !$v.placeBirth.required}">
                <input type="text" class="form-control" v-model="placeBirth">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Tipo Doc</span>
              <div class="form-group" :class="{ 'has-error': !$v.typeDoc.required}">
                <select class="custom-select form-control" v-model="typeDoc">
                  <option selected>CC</option>
                  <option value="1">TI</option>
                  <option value="2">Pasaporte</option>
                  <option value="2">RC</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Número</span>
              <div class="form-group" :class="{ 'has-error': !$v.numDoc.required}">
                <input type="number" class="form-control" v-model="numDoc">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Lugar expedición</span>
              <div class="form-group" :class="{ 'has-error': !$v.expeditionPlace.required}">
                <input type="text" class="form-control" v-model="expeditionPlace">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Número hijos</span>
              <div class="form-group" :class="{ 'has-error': !$v.numChildren.required}">
                <input type="number" class="form-control" v-model="numChildren">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Tipo vivienda</span>
              <div class="form-group" :class="{ 'has-error': !$v.typeHousing.required}">
                <select class="custom-select form-control" v-model="typeHousing">
                  <option selected>Propia</option>
                  <option value="1">Familiar</option>
                  <option value="2">Arrendada</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Celular</span>
              <div class="form-group" :class="{ 'has-error': !$v.celPhone.required}">
                <input type="number" class="form-control" v-model="celPhone">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Dirección domicilio</span>
              <div class="form-group" :class="{ 'has-error': !$v.address.required}">
                <input type="text" class="form-control" v-model="address">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Barrio</span>
              <div class="form-group" :class="{ 'has-error': !$v.neighborhood.required}">
                <input type="text" class="form-control" v-model="neighborhood">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Ciudad</span>
              <div class="form-group" :class="{ 'has-error': !$v.city.required}">
                <input type="text" class="form-control" v-model="city">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Departamento</span>
              <div class="form-group" :class="{ 'has-error': !$v.stateCity.required}">
                <input type="text" class="form-control" v-model="stateCity">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Email</span>
              <div class="form-group" :class="{ 'has-error': !$v.email.email || !$v.email.required}">
                <input type="email" class="form-control" v-model="email">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Tel. fijo</span>
              <div class="form-group">
                <input type="number" class="form-control" v-model="phone">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import validationModel from 'components/forms/validators/personalDetails'

  export default {
    data () {
      return {
        name: '',
        lastName: '',
        secondLastName: '',
        genre: '',
        civilStatus: '',
        dateBirth: '',
        placeBirth: '',
        typeDoc: '',
        numDoc: '',
        expeditionPlace: '',
        numChildren: '',
        typeHousing: '',
        celPhone: '',
        address: '',
        neighborhood: '',
        city: '',
        stateCity: '',
        email: '',
        phone: '',
      }
    },
    validations: validationModel,
    methods: {
      validate () {
        this.$v.form.$touch()
        var isValid = !this.$v.form.$invalid
        this.$emit('on-validate', {PersonalDetails: this.$data}, isValid)
        return isValid
      }
    }
  }
</script>

<style scoped>

</style>
