<template>
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-6">
            <h4>Referencias personales {{personalReferences.length}}</h4>
          </div>
          <div class="col-md-6">
            <span class="help-block pull-right" v-if="!$v.personalReferences.minLength">Requeridas {{ $v.personalReferences.$params.minLength.min }}</span>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div v-for="(v, index) in $v.personalReferences.$each.$iter">
          <h4>{{+index + 1}}</h4>
          <div class="row">
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon">Nombre</span>
                <div class="form-group" :class="{ 'has-error': !v.name.required}">
                  <input type="text" class="form-control" v-model.trim="v.name.$model">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon">Apellidos</span>
                <div class="form-group" :class="{ 'has-error': !v.lastName.required}">
                  <input type="text" class="form-control" v-model.trim="v.lastName.$model">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon">Dirección</span>
                <div class="form-group" :class="{ 'has-error': !v.address.required}">
                  <input type="text" class="form-control" v-model.trim="v.address.$model">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon">Ciudad</span>
                <div class="form-group" :class="{ 'has-error': !v.city.required}">
                  <input type="text" class="form-control" v-model.trim="v.city.$model">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon">Tel. Celular</span>
                <div class="form-group" :class="{ 'has-error': !v.celPhone.required}">
                  <input type="number" class="form-control" v-model.trim="v.celPhone.$model">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon">Tel. empresa</span>
                <div class="form-group" :class="{ 'has-error': !v.jobPhone.required}">
                  <input type="number" class="form-control" v-model.trim="v.jobPhone.$model">
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-6">
              <button class="btn btn-default"
                      @click="personalReferences.push({name: '',lastName: '',address: '',city: '',celPhone: '',jobPhone: ''})">
                <app-icon img="plus"></app-icon>
              </button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-default" @click="personalReferences.pop()">
                <app-icon img="minus"></app-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-6">
            <h4>Referencias familiares {{familiarReferences.length}}</h4>
          </div>
          <div class="col-md-6">
            <span class="help-block pull-right" v-if="!$v.familiarReferences.minLength">Requeridas {{ $v.familiarReferences.$params.minLength.min }}</span>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div v-for="(v, index) in $v.familiarReferences.$each.$iter">
          <h4>{{+index + 1}}</h4>
          <div class="row">
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon">Nombre</span>
                <div class="form-group" :class="{ 'has-error': !v.name.required}">
                  <input type="text" class="form-control" v-model.trim="v.name.$model">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon">Apellidos</span>
                <div class="form-group" :class="{ 'has-error': !v.lastName.required}">
                  <input type="text" class="form-control" v-model.trim="v.lastName.$model">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon">Dirección</span>
                <div class="form-group" :class="{ 'has-error': !v.address.required}">
                  <input type="text" class="form-control" v-model.trim="v.address.$model">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon">Ciudad</span>
                <div class="form-group" :class="{ 'has-error': !v.city.required}">
                  <input type="text" class="form-control" v-model.trim="v.city.$model">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon">Tel. Celular</span>
                <div class="form-group" :class="{ 'has-error': !v.celPhone.required}">
                  <input type="number" class="form-control" v-model.trim="v.celPhone.$model">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon">Tel. empresa</span>
                <div class="form-group" :class="{ 'has-error': !v.jobPhone.required}">
                  <input type="number" class="form-control" v-model.trim="v.jobPhone.$model">
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-6">
              <button class="btn btn-default"
                      @click="familiarReferences.push({name: '',lastName: '',address: '',city: '',celPhone: '',jobPhone: ''})">
                <app-icon img="plus"></app-icon>
              </button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-default" @click="familiarReferences.pop()">
                <app-icon img="minus"></app-icon>
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</template>

<script>
  import Icon from 'components/Icon'
  import validationModel from 'components/forms/validators/references'

  export default {
    components: {
      'app-icon': Icon
    },
    data () {
      return {
        personalReferences: [{
          name: '',
          lastName: '',
          address: '',
          city: '',
          celPhone: '',
          jobPhone: ''
        }],
        familiarReferences: [{
          name: '',
          lastName: '',
          address: '',
          city: '',
          celPhone: '',
          jobPhone: ''
        }
        ]
      }
    },
    validations: validationModel,
    computed: {},
    methods: {
      validate () {
        this.$v.form.$touch()
        var isValid = !this.$v.form.$invalid
        this.$emit('on-validate', {References: this.$data}, isValid)
        return isValid
      }
    }
  }
</script>

<style scoped>

</style>
