<template>
  <div class="panel panel-default">
    <div class="panel-heading">Solicitado</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group" :class="{ 'has-error': amountError}">
            <input type="number" min="0" class="form-control" placeholder="$ COP"
                   v-model.trim="amount" @input="$v.amount.$touch()">
            <span class="help-block" v-if="amountError">Solicitud a partir de $500000</span>
          </div>

        </div>
        <div class="col-md-6">
          <div class="form-group" :class="{ 'has-error': termError}">
            <input type="number" min="12" class="form-control" placeholder="Plazo en meses" v-model="term"
                   @input="$v.term.$touch()">
            <span class="help-block" v-if="termError">Plazo minimo 12 meses</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import validatorModel from 'components/forms/validators/requestValue'
  import { mapState } from 'vuex'

  export default {
    data () {
      return {
        amount: '',
        term: ''
      }
    },
    created () {
    },
    computed: {
      ...mapState(['selectedBank']),
      termError () {
        return this.$v.term.$error
      },
      amountError () {
        return this.$v.amount.$error //|| !$v.amount.required
      }
    },
    validations: validatorModel,
    methods: {
      validate () {
        this.$v.form.$touch()
        var isValid = !this.$v.form.$invalid
        this.$emit('on-validate', {RequestValue: this.$data}, isValid)
        return isValid
      }
    }
  }
</script>

<style scoped>

</style>
