<template>
  <div>
    <app-pdf :pdfList="src"></app-pdf>

  </div>
</template>

<script>

  import Pdf from 'components/Pdf'
  import jsPDF from 'jspdf'

  export default {
    components: {
      'app-pdf': Pdf
    },
    props: ['dataRequest'],
    data () {
      return {
        src: []
      }
    },
    created () {
      // this.createPdf()
    },
    methods: {
      createPdf () {
        let pdf = new jsPDF('p', 'pt', 'letter')
        let source = this.loadTemplate(this.dataRequest)
        let margins = {
          top: 80,
          bottom: 60,
          left: 40,
          width: 522
        }
        pdf.fromHTML(
          source, // HTML string or DOM elem ref.
          margins.left, // x coord
          margins.top, { // y coord
            'width': margins.width, // max width of content on PDF
          }
        )
        this.src.push(pdf.output('datauristring'))
      },
      loadTemplate (request) {
        console.log(request)
        return `<div class="container">
    <h3>Información Personal</h3>
    <div class="panel panel-default">
      <div class="row">
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Monto</b></dt>
          <dd class="col-md-5">$ ${request.RequestValue.amount}</dd>
        </div>
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Plazo</b></dt>
          <dd class="col-md-5">${request.RequestValue.term} meses</dd>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Nombre</b></dt>
          <dd class="col-md-5">${request.PersonalDetails.name} ${request.PersonalDetails.lastName }
            ${request.PersonalDetails.secondLastName}
          </dd>
        </div>
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Genero</b></dt>
          <dd class="col-md-5">${request.PersonalDetails.genre }</dd>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Estado Civil</b></dt>
          <dd class="col-md-5">${request.PersonalDetails.civilStatus}</dd>
        </div>
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Fecha nacimiento</b></dt>
          <dd class="col-md-5">${request.PersonalDetails.dateBirth}</dd>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Lugar de nacimiento</b></dt>
          <dd class="col-md-5">${request.PersonalDetails.placeBirth}</dd>
        </div>
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Tipo documento</b></dt>
          <dd class="col-md-5">${request.PersonalDetails.typeDoc}</dd>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Número documento</b></dt>
          <dd class="col-md-5">${request.PersonalDetails.numDoc}</dd>
        </div>
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Lugar de exp.</b></dt>
          <dd class="col-md-5">${request.PersonalDetails.expeditionPlace}</dd>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Hijos</b></dt>
          <dd class="col-md-5">${request.PersonalDetails.numChildren}</dd>
        </div>
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Vivienda</b></dt>
          <dd class="col-md-5">${request.PersonalDetails.typeHousing}</dd>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Celular</b></dt>
          <dd class="col-md-5">${request.PersonalDetails.celPhone}</dd>
        </div>
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Dirección</b></dt>
          <dd class="col-md-5">${request.PersonalDetails.address}</dd>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Barrio</b></dt>
          <dd class="col-md-5">${request.PersonalDetails.neighborhood}</dd>
        </div>
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Ciudad</b></dt>
          <dd class="col-md-5">${request.PersonalDetails.city}</dd>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <dt class="col-md-2"><b>Departamento</b></dt>
          <dd class="col-md-4">${request.PersonalDetails.stateCity}</dd>
        </div>
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Email</b></dt>
          <dd class="col-md-5">${request.PersonalDetails.email}</dd>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-12">
          <dt class="col-md-1"><b>Telefono fijo</b></dt>
          <dd class="col-md-5">${request.PersonalDetails.phone}</dd>
        </div>
      </div>
    </div>
    <h3>Información de empleo</h3>
    <div class="panel panel-default">
      <div class="row">
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Razón social</b></dt>
          <dd class="col-md-5">${request.Employment.businessSocial}</dd>
        </div>
        <div class="col col-md-6">
          <dt class="col-md-1"><b>nit</b></dt>
          <dd class="col-md-5">${request.Employment.nit}</dd>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Dirección</b></dt>
          <dd class="col-md-5">${request.Employment.addressCompany}</dd>
        </div>
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Tel.</b></dt>
          <dd class="col-md-5">${request.Employment.phoneCompany}</dd>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Fax</b></dt>
          <dd class="col-md-5">${request.Employment.fax}</dd>
        </div>
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Jefe</b></dt>
          <dd class="col-md-5">${request.Employment.boss}</dd>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Fecha inicio</b></dt>
          <dd class="col-md-5">${request.Employment.dateInit}</dd>
        </div>
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Cargo</b></dt>
          <dd class="col-md-5">${request.Employment.position}</dd>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Salario</b></dt>
          <dd class="col-md-5">${request.Employment.salary}</dd>
        </div>
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Otros ingresos</b></dt>
          <dd class="col-md-5">${request.Employment.otherIncomes}</dd>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Gastos Familiares</b></dt>
          <dd class="col-md-5">${request.Employment.familiarExpenses}</dd>
        </div>
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Total ingresos</b></dt>
          <dd class="col-md-5">${request.Employment.totalIncomes}</dd>
        </div>
      </div>
    </div>
    <h3>Referencias</h3>
    <div class="panel panel-default">
      <div class="row" v-for="(personal,i) in request.References.personalReferences">
      <h4>Personal {{ i + 1 }}</h4>
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Nombre</b></dt>
          <dd class="col-md-5">${personal.name} ${personal.lastName}
          </dd>
        </div>
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Dirección</b></dt>
          <dd class="col-md-5">${personal.address}</dd>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Ciudad</b></dt>
          <dd class="col-md-5">${personal.city}</dd>
        </div>
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Teléfonos</b></dt>
          <dd class="col-md-5">${personal.celPhone} -
            ${personal.jobPhone}
          </dd>
        </div>
      </div>
      <div class="row" v-for="(familiar, i) in request.References.familiarReferences">
            <h4>Familiar {{j +1}}</h4>
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Nombre</b></dt>
          <dd class="col-md-5">${familiar.name} ${familiar.lastName}
          </dd>
        </div>
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Dirección</b></dt>
          <dd class="col-md-5">${familiar.address}</dd>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Ciudad</b></dt>
          <dd class="col-md-5">${familiar.city}</dd>
        </div>
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Teléfonos</b></dt>
          <dd class="col-md-5">${familiar.celPhone} - ${familiar.jobPhone}
          </dd>
        </div>
      </div>

    </div>
    <h3>Cuenta Desembolso</h3>
    <div class="panel panel-default">
      <div class="row">
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Número Cta</b></dt>
          <dd class="col-md-5">${request.Account.numAccount}</dd>
        </div>
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Tipo cuenta</b></dt>
          <dd class="col-md-5">${request.Account.typeAccount}</dd>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <dt class="col-md-1"><b>Banco</b></dt>
          <dd class="col-md-5">${request.Account.bank}</dd>
        </div>
        <div class="col col-md-6">
          <dt class="col-md-2"><b>Autorización</b></dt>
          <dd class="col-md-4">${request.Account.validateAccount}</dd>
        </div>
      </div>
    </div>
  </div>`
      },
    }
  }
</script>

<style scoped>

</style>
