<template>
  <div>
    <div class="row">
      <div class="col col-md-6">
        <button type="button" class="btn btn-default" @click="togglePanel">Cargar</button>
      </div>
      <div class="col col-md-6" v-if="visiblePanel">
        <button type="button" class="btn btn-default" @click="printResume">
          <app-icon img="print"></app-icon>
        </button>
      </div>
    </div>
    <div id="divResume" class="container" v-if="visiblePanel">
      <h3>Información Personal</h3>
      <div class="panel panel-default">
        <div class="row">
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Monto</b></dt>
            <dd class="col-md-3">$ {{request.RequestValue.amount}}</dd>
          </div>
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Plazo</b></dt>
            <dd class="col-md-3">{{request.RequestValue.term}} meses</dd>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Nombre</b></dt>
            <dd class="col-md-3">{{request.PersonalDetails.name}} {{request.PersonalDetails.lastName }}
              {{request.PersonalDetails.secondLastName}}
            </dd>
          </div>
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Genero</b></dt>
            <dd class="col-md-3">{{request.PersonalDetails.genre }}</dd>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Estado Civil</b></dt>
            <dd class="col-md-3">{{request.PersonalDetails.civilStatus}}</dd>
          </div>
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Fecha nacimiento</b></dt>
            <dd class="col-md-3">{{request.PersonalDetails.dateBirth}}</dd>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Lugar de nacimiento</b></dt>
            <dd class="col-md-3">{{request.PersonalDetails.placeBirth}}</dd>
          </div>
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Tipo documento</b></dt>
            <dd class="col-md-3">{{request.PersonalDetails.typeDoc}}</dd>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Número documento</b></dt>
            <dd class="col-md-3">{{request.PersonalDetails.numDoc}}</dd>
          </div>
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Lugar de exp.</b></dt>
            <dd class="col-md-3">{{request.PersonalDetails.expeditionPlace}}</dd>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Hijos</b></dt>
            <dd class="col-md-3">{{request.PersonalDetails.numChildren}}</dd>
          </div>
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Vivienda</b></dt>
            <dd class="col-md-3">{{request.PersonalDetails.typeHousing}}</dd>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Celular</b></dt>
            <dd class="col-md-3">{{request.PersonalDetails.celPhone}}</dd>
          </div>
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Dirección</b></dt>
            <dd class="col-md-3">{{request.PersonalDetails.address}}</dd>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Barrio</b></dt>
            <dd class="col-md-3">{{request.PersonalDetails.neighborhood}}</dd>
          </div>
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Ciudad</b></dt>
            <dd class="col-md-3">{{request.PersonalDetails.city}}</dd>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Departamento</b></dt>
            <dd class="col-md-3">{{request.PersonalDetails.stateCity}}</dd>
          </div>
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Email</b></dt>
            <dd class="col-md-3">{{request.PersonalDetails.email}}</dd>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Telefono fijo</b></dt>
            <dd class="col-md-3">{{request.PersonalDetails.phone}}</dd>
          </div>
        </div>
      </div>
      <h3>Información de empleo</h3>
      <div class="panel panel-default">
        <div class="row">
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Razón social</b></dt>
            <dd class="col-md-3">{{request.Employment.businessSocial}}</dd>
          </div>
          <div class="col col-md-6">
            <dt class="col-md-3"><b>nit</b></dt>
            <dd class="col-md-3">{{request.Employment.nit}}</dd>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Dirección</b></dt>
            <dd class="col-md-3">{{request.Employment.addressCompany}}</dd>
          </div>
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Tel.</b></dt>
            <dd class="col-md-3">{{request.Employment.phoneCompany}}</dd>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Fax</b></dt>
            <dd class="col-md-3">{{request.Employment.fax}}</dd>
          </div>
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Jefe</b></dt>
            <dd class="col-md-3">{{request.Employment.boss}}</dd>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Fecha inicio</b></dt>
            <dd class="col-md-3">{{request.Employment.dateInit}}</dd>
          </div>
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Cargo</b></dt>
            <dd class="col-md-3">{{request.Employment.position}}</dd>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Salario</b></dt>
            <dd class="col-md-3">{{request.Employment.salary}}</dd>
          </div>
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Otros ingresos</b></dt>
            <dd class="col-md-3">{{request.Employment.otherIncomes}}</dd>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Gastos Familiares</b></dt>
            <dd class="col-md-3">{{request.Employment.familiarExpenses}}</dd>
          </div>
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Total ingresos</b></dt>
            <dd class="col-md-3">{{request.Employment.totalIncomes}}</dd>
          </div>
        </div>
      </div>
      <h3>Referencias</h3>
      <div class="panel panel-default">
        <h4>Personales: {{request.References.personalReferences.length}}</h4>
        <div v-for="p in request.References.personalReferences">
          <div class="row">
            <div class="col col-md-6">
              <dt class="col-md-3"><b>Nombre</b></dt>
              <dd class="col-md-3">{{p.name}} {{p.lastName}}
              </dd>
            </div>
            <div class="col col-md-6">
              <dt class="col-md-3"><b>Dirección</b></dt>
              <dd class="col-md-3">{{p.address}}</dd>
            </div>
          </div>
          <div class="row">
            <div class="col col-md-6">
              <dt class="col-md-3"><b>Ciudad</b></dt>
              <dd class="col-md-3">{{p.city}}</dd>
            </div>
            <div class="col col-md-6">
              <dt class="col-md-3"><b>Teléfonos</b></dt>
              <dd class="col-md-3">{{ p.celPhone}} - {{p.jobPhone}}
              </dd>
            </div>
          </div>
        </div>
        <h4>Familiares: {{request.References.familiarReferences.length}}</h4>
        <div v-for="familiar in request.References.familiarReferences">
          <div class="row">
            <div class="col col-md-6">
              <dt class="col-md-3"><b>Nombre</b></dt>
              <dd class="col-md-3">{{familiar.name}} {{familiar.lastName}}
              </dd>
            </div>
            <div class="col col-md-6">
              <dt class="col-md-3"><b>Dirección</b></dt>
              <dd class="col-md-3">{{familiar.address}}</dd>
            </div>
          </div>
          <div class="row">
            <div class="col col-md-6">
              <dt class="col-md-3"><b>Ciudad</b></dt>
              <dd class="col-md-3">{{familiar.city}}</dd>
            </div>
            <div class="col col-md-6">
              <dt class="col-md-3"><b>Teléfonos</b></dt>
              <dd class="col-md-3">{{familiar.celPhone}} - {{familiar.jobPhone}}
              </dd>
            </div>
          </div>
        </div>
      </div>
      <h3>Cuenta Desembolso</h3>
      <div class="panel panel-default">
        <div class="row">
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Número Cta</b></dt>
            <dd class="col-md-3">{{request.Account.numAccount}}</dd>
          </div>
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Tipo cuenta</b></dt>
            <dd class="col-md-3">{{request.Account.typeAccount}}</dd>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-6">
            <dt class="col-md-3"><b>Banco</b></dt>
            <dd class="col-md-3">{{request.Account.bank}}</dd>
          </div>
          <div class="col col-md-6">
            <dt class="col-md-2"><b>Autorización</b></dt>
            <dd class="col-md-4">{{request.Account.validateAccount}}</dd>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Icon from 'components/Icon'
  import PHE from 'print-html-element'
  import AppIcon from '../Icon'

  export default {
    components: {
      AppIcon,
      'app-icon': Icon
    },
    props: ['request'],
    data () {
      return {visiblePanel: false}
    },
    created () {
      console.log(this.request)
    },
    methods: {
      togglePanel () {
        this.visiblePanel = !this.visiblePanel
      },
      printResume () {
        PHE.printElement(document.getElementById('divResume'))
      }
    },
    created () {
      this.request.completed = true
    }
  }
</script>

<style scoped>

</style>
